{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Add Imprint
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css'>
     <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <h2>Add Imprint</h2>
    <div id="parent" class="col-xs-12">
        <form enctype="multipart/form-data" id="addProfile">
            <div class="form-group col-xs-8">
                <label>Locale</label>
                <input type="text" class="form-control" id="locale" placeholder="Enter Locale">
            </div>
            <div class="form-group col-xs-8">
                <label>Enter Text</label>
                <input type="text" class="form-control" id="text" placeholder="Enter some text">
            </div>
            <div class="form-group col-xs-8">
                <button type="button" class="btn btn-success" onclick="addImprint()">Add Imprint</button>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% endblock %}
